.bg-dark {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0);
 
}
.row{
  margin: 0;
}

*{
  font-family: 'Inconsolata', monospace;
}


.text-car {
  color:#607D8B !important;

}



.btn-car {
  background-color: #607D8B;
  color: white;

}

.btn-car:hover {
  background-color: #20201fe1;
}


#header img {
  width: 80px;
}

#main .carousel-inner img {
  display: flex;
  max-height: 100vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}



#footer {
  background: linear-gradient(90deg,#212121,#607D8B 25%,#212121);
}

#footer a {
  color:#f5f5f5;
}


/*------------planes---------------*/


/*-------------planes--------------*/


/*-------------------SERVICIOS---------------*/
*{
  box-sizing:border-box;
  max-width: 100%;
}


#pp-servicios{
  
  padding: 65px 0px 85px 0px;
  background-color: #607D8B;
}
.Servicios{
  margin-top: 30px;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}


.card-title-s{
  color:#212121;
  font-weight: 600;
}




.section-header-s{
  margin-bottom: 5px;
}

.card-s{
      margin: auto;
      text-align: center;
      background-color: #f5f5f5;
      position: relative;
      border-radius: 30px;
      transition: all .3s ease-in-out;
     
      margin-bottom: 30px;
      
}
.card-text-s{
  color:#212121;
}
.card-img-top{
width: 10rem;
height: 150px;
}


/*-------------------SERVICIOS---------------*/


/*-------------------NOSOTROS---------------*/

#pp-Nosotros{
  background-image: url('assets/images/fondoBjpg.jpg');
  background-size: cover;
  height: 550px;
  position: relative;
 
}
.nosotros{
  color: #f5f5f5;
  margin-top: 55px;
}

#row-nosotros img{
  width: 10rem;
  height: 150px;
  border-radius: 100%;
}

/*-------------------NOSOTROS---------------*/

@media only screen and (max-width : 991px){
  .plan-table>div:nth-last-child(-n + 1){
      margin: 48px auto auto auto;
  }
  .plan-style.blue-shadow{
      box-shadow: 0px 0px 30px -10px #0652DD;
  }
  
  .plan-style.green-shadow{
      box-shadow: 0px 0px 30px -10px #fe8c00;
  }
  
}

@media only screen and (max-width: 767px){
  .plan-style{
      max-width: 400px;
  }
  .plan-table>div:nth-last-child(-n + 2){
      margin: 48px auto auto auto;
  }
}

@media only screen and (max-width: 576px){
  .plan-style {
      max-width: 350px;
  }
}
