
.bg-dark {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0);
 
}
.row{
  margin: 0;
}

*{
  font-family: 'Inconsolata', monospace;
}


.text-car {
  color:#607D8B !important;

}

.btn-car {
  background-color: #607D8B;
  color: white;

}

.btn-car:hover {
  background-color: #20201fe1;
}


#header img {
  width: 80px;
}

#main .carousel-inner img {
  display: flex;
  max-height: 100vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}



#footer {
  background: linear-gradient(90deg,#212121,#607D8B 25%,#212121);
}

#footer a {
  color:#f5f5f5;
}


/*------------planes---------------*/


.pp-section{
  color: #212121;
  padding: 100px 0 85px 0;
  
  background-color: #f5f5f5;
}

.section-header{
  margin-bottom: 35px;
  
}


.plan-style{
  max-width: 100%;
   margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 30px;
  transition: all .3s ease-in-out;    
}

.plan-style .bg-blue{
  background: #FAD23F;
}
.plan-style .bg-blue-btn{
  background: #FAD23F;
  background-size: 300% 100%;
}

.plan-style .bg-blue-btn:hover{
  background-position: 100% 0;
  color: #fff;
  box-shadow: 0px 20px 20px #eee;
  transition: all .3s ease-in-out;
}

.plan-style .bg-orange{
  background: #0652DD;
}
.plan-style .bg-orange-btn{
  background: #0652DD;
  background-size: 300% 100%;
}

.plan-style .bg-orange-btn:hover{
  background-position: 100% 0;
  color: #fff;
  box-shadow: 0px 20px 20px #eee;
  transition: all .3s ease-in-out;
}

.plan-style .bg-green{
  background: #fe8c00;
}
.plan-style .bg-green-btn{
  background: #fe8c00;
  background-size: 300% 100%;
}

.plan-style .bg-green-btn:hover{
  
  color: #fff;
  box-shadow: 0px 20px 20px #eee;
  transition: all .3s ease-in-out;
}

.plan-style .blue-bg-img{
  
  background-size: 100%;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgb(255, 255, 255);
}

.plan-style .orange-bg-img{
  
  background-size: 100%;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgb(255, 255, 255);
  opacity: .7;
}

.plan-style .green-bg-img{
  
  background-size: 100%;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgb(255, 255, 255);
  opacity: .9;
}


.plan-style-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
}

.plan-style .plan-header{
  padding: 30px 0 20px 0;
  z-index: 1;
  position: relative;
}

.plan-style .plan-header h3 {
  width: 60%;
  padding: 0px 12px;
  margin: -50px auto 0;
  border-radius: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.plan-style .plan-header .price{
  width: 130px;
  margin: 30px auto -2px;
  border-radius: 50px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

.plan-style .plan-header .price .price-digit {
  font-size: 55px;
  font-weight: 900;
}

.plan-style  .plan-detail{
  z-index: 1;
  position: relative;
}

.plan-style .plan-detail ul{
  padding: 0;
  list-style-type: none;
  color: #666;
}

.plan-style .plan-detail ul li{
  padding: 5px 0;
}

.plan-style .plan-bottom{
  margin: 5px;
  padding: 12px 0 32px 0;
  position: relative;
  overflow: hidden;
  color: #000;
  
}

.plan-style .plan-button{
  padding: 10px 18px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #111;
  border: none;
  border-radius: 40px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease-in-out;
      
}

.plan-style.blue-shadow{
  border: 2px solid #FAD23F;
}

.plan-style.blue-shadow:hover{
  box-shadow: 0px 0px 20px -1px #FAD23F;
  border: 2px solid ;
}

.plan-style.active{
  box-shadow: 0pz 0px 30px -10px #ffffff;
}

.plan-style.orange-shadow{
  border: 2px solid #0042f8;
}

.plan-style.orange-shadow:hover{
  box-shadow: 0px 0px 30px -1px #0042f8;
  border: 2px solid ;
}

.plan-style.green-shadow{
  border: 2px solid#fe8c00;
}

.plan-style.green-shadow:hover{
  box-shadow: 0px 0px 30px -1px #fe8c00;
  border: 2px solid ;
}

/*-------------planes--------------*/


/*-------------------SERVICIOS---------------*/
*{
  box-sizing:border-box;
  max-width: 100%;
}


#pp-servicios{
  
  padding: 65px 0px 85px 0px;
  background-color: #607D8B;
}
.Servicios{
  margin-top: 30px;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}


.card-title-s{
  color:#212121;
  font-weight: 600;
}




.section-header-s{
  margin-bottom: 5px;
}

.card-s{
      margin: auto;
      text-align: center;
      background-color: #f5f5f5;
      position: relative;
      border-radius: 30px;
      transition: all .3s ease-in-out;
     
      margin-bottom: 30px;
      
}
.card-text-s{
  color:#212121;
}
.card-img-top{
width: 10rem;
height: 150px;
}


/*-------------------SERVICIOS---------------*/


/*-------------------NOSOTROS---------------*/

#pp-Nosotros{
  background-image: url('assets/images/fondoBjpg.jpg');
  background-size: cover;
  height: 550px;
  position: relative;
 
}
.nosotros{
  color: #f5f5f5;
  margin-top: 55px;
}

#row-nosotros img{
  width: 10rem;
  height: 150px;
  border-radius: 100%;
}

/*-------------------NOSOTROS---------------*/

@media only screen and (max-width : 991px){
  .plan-table>div:nth-last-child(-n + 1){
      margin: 48px auto auto auto;
  }
  .plan-style.blue-shadow{
      box-shadow: 0px 0px 30px -10px #0652DD;
  }
  
  .plan-style.green-shadow{
      box-shadow: 0px 0px 30px -10px #fe8c00;
  }
  
}

@media only screen and (max-width: 767px){
  .plan-style{
      max-width: 400px;
  }
  .plan-table>div:nth-last-child(-n + 2){
      margin: 48px auto auto auto;
  }
}

@media only screen and (max-width: 576px){
  .plan-style {
      max-width: 350px;
  }
}